<div [@routerTransition]>
    <h2 class="text-muted">ข้อมูลบริษัท</h2>
    <div class="row">
        <div class="col-md-12">
            <div class="card bg-light mb-3">
                <div class="card-header">เงือนไขการค้นหา</div>
                <div class="card-body">
                    <form class="row">
                        <div class="col">
                            <label for = "txtCompany">ชื่อบริษัท</label>
                            <input class="form-control" name="txtCompany" id="txtCompany" placeholder="บริษัทกขค">
                        </div>
                        <div class="col">
                            <label>ชื่อบริษัท</label>
                            <input class="form-control" name="txtCompany" id="txtCompany" placeholder="บริษัทกขค">
                        </div>
                        <div class="col">
                            <label>ชื่อบริษัท</label>
                            <input class="form-control" name="txtCompany" id="txtCompany" placeholder="บริษัทกขค">
                        </div>
                    </form> 
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
       
    </div>
    <hr />
    <hr />
    <div class="row">
        <div class="col-lg-8">
            <div class="card card-default">
                <div class="card-header">
                    <i class="fa fa-clock-o fa-fw"></i> Responsive Timeline
                </div>
                <!-- /.card-header -->
              
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col-lg-8 -->
        <div class="col-lg-4">
            <div class="card card-default mb-3">
                <div class="card-header">
                    <i class="fa fa-bell fa-fw"></i> Notifications card
                </div>
                <!-- /.card-header -->
              
                <!-- /.card-body -->
            </div>
            <!-- /.card -->

         
        </div>
        <!-- /.col-lg-4 -->
    </div>
</div>
